doctype html
html
  img(src='../images/plaid.pdf')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Home Page
    meta(name='description', content='Homepage-y things')
    script(src='../js/homepage.js')
    style
        include ../css/main.css
  body
    button.help(type='button1') I'm confused
    h1.main
      | Home Page
      button#MeBtn.me(type='button1') Profile
    // The Modal
    //
      WHAT IS BRACKETS?
    p
      button.event(type='button') Event
      button.study(type='button') Study Buddy
    //
      GET STARTED WITH YOUR OWN FILES
    p
      button.friend(type='button') Friend
      button.hometown(type='button') Home Town 
    p
    p
      button.custom(type='button') Custom
    p
    //
      THE RELATIONSHIP BETWEEN HTML, CSS AND JAVASCRIPT
//
  [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
  [::::::::::::::      ::::::::::::::]
  [::::::::::::::      ::::::::::::::]
  [::::::[[[[[[[:      :]]]]]]]::::::]
  [:::::[                      ]:::::]
  [:::::[                      ]:::::]
  [:::::[                      ]:::::]
  [:::::[                      ]:::::]
  [:::::[     CODE THE WEB     ]:::::]
  [:::::[  http://brackets.io  ]:::::]
  [:::::[                      ]:::::]
  [:::::[                      ]:::::]
  [:::::[                      ]:::::]
  [:::::[                      ]:::::]
  [::::::[[[[[[[:      :]]]]]]]::::::]
  [::::::::::::::      ::::::::::::::]
  [::::::::::::::      ::::::::::::::]
  [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
   