<!DOCTYPE html>
<html>
    
    <img src="../static/images/plaid.jpeg">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="Homepage-y things">
        <script src="/static/js/homepage.js"></script>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        
        <button type="button1" class="help">I'm confused</button>
        
        <h1 class="main">Home Page<button type="button1" class="me" id="MeBtn">Profile</button></h1>
        
        
        
 

<!-- The Modal -->


        
        <!--
            WHAT IS BRACKETS?
        -->
        <p>
            <button type="button" class="event">Event</button>
             <button type="button" class="study">Study Buddy</button>
        </p>
        
        <!--
            GET STARTED WITH YOUR OWN FILES
        -->
        
        
   
           

        
        <p>
            <button type="button" class="friend">Friend</button>
            <button type="button" class="hometown">Home Town </button>
        </p>
        
        <p>
            
        </p>
        
        <p>
            <button type="button" class="custom">Custom</button>
        </p>
        
        <p>
            
        </p>
        

        
        <!--
            THE RELATIONSHIP BETWEEN HTML, CSS AND JAVASCRIPT
        -->
        
            
        
    </body>
</html>
<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[     CODE THE WEB     ]:::::]
    [:::::[  http://brackets.io  ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
