<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        
        <button type="button1" class="help">I'm confused</button>
        
        <h1>HOME PAGE</h1>
        
        
        
        <p>
            <button type="button1" class="me" data-toggle="modal" data-target="#myModal">Me</button>
            
        </p>
        

        
        <!--
            WHAT IS BRACKETS?
        -->
        <p>
            <button type="button" class="event">Event</button>
             <button type="button" class="study">Study Buddy</button>
        </p>
        
        <!--
            GET STARTED WITH YOUR OWN FILES
        -->
        
        
   
           

        
        <p>
            <button type="button" class="friend">Friend</button>
            <button type="button" class="hometown">Home Town </button>
        </p>
        
        <p>
            
        </p>
        
        <p>
            <button type="button" class="custom">Custom</button>
            <button type="button" class="favorites">Favorites</button>
        </p>
        
        <p>
            
        </p>
        

        
        <!--
            THE RELATIONSHIP BETWEEN HTML, CSS AND JAVASCRIPT
        -->
        
            
        
    </body>
</html>
<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[     CODE THE WEB     ]:::::]
    [:::::[  http://brackets.io  ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
