extends ./base.jade

  
block body 
   .page.spash

   span(class="title") 
      h1 Health of TestGig

   div(class="sidebar")
       p Here is some placeholder text
       
   span(class="display")


   script(src="http://d3js.org/d3.v3.min.js"). 
   script(type="text/javascript").
        var w = 800,
            h = 400,
            radius = w/50,
            linkDist = radius * 6,
            strokeWidth = radius / 6;            
        var nodes = [{type : "GIG",
                      name : "TestGig",
                      startDate : new Date(),
                      endDate : new Date(2016,9,22),
                      price : 7000, 
                      cost : 5000},
                      {type : "CLI",
                       startDate : new Date(),
                       endDate : null,
                       name : "Hugh Jackman",
                       satisfaction : Number,
                       client_karma : {
                                       reliability : 0.9,
                                       realistic : 0.1,
                                       responsivenss : 0.4,
                                       payment_speed : 1.0,
                                       awesomeness : 1.0}},
                       {type : "PM",
                        name : "Professor X",
                        
                        },
                        {type:"WRK",
                        name: "Evan Peters"
                        },
                        {type: "WRK",
                         name: "Sue Storm"
                        }];                
        var    links = [{type:"COM",source:1,target:2,capacity : 0.53},
                        {type:"COM",source:2,target:3,capacity : 0.97},
                        {type:"COM",source:3,target:4,capacity : 0.76},
                        {type:"PAY",source:0,target:1,capacity : 0.85},
                        {type:"PAY",source:1,target:2,capacity : 1.0},
                        {type:"PAY",source:1,target:3,capacity : 1.0},
                        {type:"PAY",source:1,target:4,capacity : 1.0}];
           
        var svg = d3.select(".display")
                   .append("svg")
                   .attr({"width" : w,
                           "height" : h});
        var sidebar = d3.select(".sidebar");
                     
        var force = d3.layout.force()
                     .size([w,h])
                     .nodes(nodes)
                     .links(links)
                     .linkDistance(linkDist)
                     .charge(-600)
                     .gravity(0.1)
                     .friction(0.3);

        var link = svg.selectAll('.link')
                       .data(links)
                       .enter().append('line')
                       .attr('class','link')
                       .attr('stroke',function(d){
                           return "red";
                       })
                       .attr('stroke-width',strokeWidth + "px")
                       .attr('x1', function(d){
                       return nodes[d.source].x;
                       })
                       .attr('y1', function(d) {
                       return nodes[d.source].y;
                       })
                       .attr('x2', function(d) {
                       return nodes[d.target].x; 
                       })
                       .attr('y2', function(d) {
                       return nodes[d.target].y; 
                       });
                       /*.attr('d',function(d){
                           return "M" + d.x1 + "," + d.y1
                                   + "S" + d.x1 + "," + d.y2
                                   + d.x2 + "," + d.y2
                       }*/
                       
        var node = svg.selectAll('.node')
                      .data(nodes)
                      .enter().append('circle')
                      .attr("r",radius)
                      .attr('fill',"#eca487")
                      .attr('stroke',"#db9376")
                      .attr('stroke-width',"2px")
                      .attr('cx', function(d) { 
                       return d.x; })
                      .attr('cy', function(d) {
                       return d.y; })
                       
                       
        /*function to handle the animation
         * by displaying the current position of
         * the nodes at each timestep
         */
        force.on('tick',function(){
             node.attr("cx",function(d){return d.x;})
                 .attr('cy',function(d){return d.y;});

             link.attr('x1', function(d){return d.source.x;})
                 .attr('y1', function(d) { return d.source.y; })
                 .attr('x2', function(d) { return d.target.x; })
                 .attr('y2', function(d) { return d.target.y; });    
        });
        force.on('end',function(){
           node.on("mouseover",handleMouseOver)
               .on("mouseout",handleMouseOut)
               .on("click",handleClick);
            
           link.on("mouseover",handleMouseOver)
               .on("mouseout",handleMouseOut)
               .on("click",handleClick);
            
            
        });
        
        force.start();   
        
        /*handlers*/
        var handleMouseOver = function(d,i){
            d3.select(this)
              .attr("stroke-width",strokeWidth*2 + "px");
            
        };
        var handleMouseOut = function(d,i){
            d3.select(this)
              .attr("stroke-width",strokeWidth + "px");
        }; 
        var handleClick = function(d,i){
            var display = function(obj){
                return obj.type + " " + obj.name;
            };
            sidebar.select('p')
                   .remove();
            sidebar.append('p')
                   .text(d.type)
                   .append('p')
                   .text(d.name);
            };