<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="Homepage-y things">
        <script src="../js/homepage.js"></script>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        
        
        <h1>My Plaid Profile</h1>
        
        
        
        <p>
            <button type="button" class="Home" id="MeBtn">Home</button>
            
        </p>
        

<!-- The Modal -->


        
  
            <p>Name: #{name}    AndrewId: #{andrewId}</p> 
        <p>
            Major: #{major}</p>
        <p>
            Dept: #{dept}
             <button type="button" class="dates">My Buddy Dates</button>
        </p>
        
        <!--
            GET STARTED WITH YOUR OWN FILES
        -->
        
        
   
           

        
        <p>
            Courses: #{courses}
            <button type="button" class="previous">My Buddies</button>
        </p>
        
        <p>
            
        </p>
        
        <p>
            <button type="button" class="chat">Chat Room</button>
        </p>
        
        <p>
            
        </p>
        

        
        <!--
            THE RELATIONSHIP BETWEEN HTML, CSS AND JAVASCRIPT
        -->
        
            
        
    </body>
</html>
<!--

    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[     CODE THE WEB     ]:::::]
    [:::::[  http://brackets.io  ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [:::::[                      ]:::::]
    [::::::[[[[[[[:      :]]]]]]]::::::]
    [::::::::::::::      ::::::::::::::]
    [::::::::::::::      ::::::::::::::]
    [[[[[[[[[[[[[[[      ]]]]]]]]]]]]]]]

-->
